#about {
  margin-top: 10%;
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #149ddd;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact.sentence {
  margin-top: 25px;
}

.contact.sentence .info-box {
  background: rgba(20, 157, 221, 0.85)
}

.contact.sentence .info-box p{
  font-family: "Arial Black";
  color: black;;
  font-size: 18px;
}

.contact .info-box i {
  font-size: 24px;
  color: #149ddd;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

@media (max-width: 768px) {
  .align-items-stretch {
    margin-bottom: 10px;
  }
}
