<section id="about" class="about">
  <div class="about-me container">

    <div class="section-title">
      <h2>À propos</h2>
      <p>En savoir plus sur moi</p>
    </div>

    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0">
        <h3>Développeur Full Stack</h3>
        <p class="fst-italic">
          J'ai obtenu un Master Informatique en 2018, et j'ai participé à plusieurs projets en tant que développeur Full Stack.
        </p>
        <div class="row">
          <div class="row mt-2 contact">

            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-box">
                <fa-icon [icon]="faLocationDot"></fa-icon>
                <h3>Ma Ville</h3>
                <p>Pau, France</p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-box">
                <fa-icon [icon]="faPhone"></fa-icon>
                <h3>Mon portable</h3>
                <p>06 78 20 35 13</p>
              </div>
            </div>
          </div>
          <div class="row mt-2 contact">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-box">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <h3>Mon email</h3>
                <p>thibault.campagne&#64;gmail.com</p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-box">
                <fa-icon [icon]="faGraduationCap"></fa-icon>
                <h3>Mon diplôme</h3>
                <p>Master Technologies de l'Internet, UPPA</p>
              </div>
            </div>
          </div>
          <div class="row contact sentence">
            <div class="info-box">
              <p>Développeur freelance, je peux vous aider à concrétiser vos projets avec simplicité et efficacité. N'hésitez pas à me contacter !</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
