<section id="about" class="about">
  <div class="about-me container">

    <div class="section-title">
      <h2>À propos</h2>
      <p>En savoir plus sur moi</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Développeur Full Stack</h3>
        <p class="fst-italic">
          J'ai obtenu un Master Informatique en 2018, et j'ai participé à plusieurs projets en tant que développeur Full Stack.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fa fa-chevron-circle-right"></i> <strong>Téléphone:</strong> <span>06 78 20 35 13</span></li>
              <li><i class="fa fa-chevron-circle-right"></i> <strong>Email:</strong> <span>thibault.campagne&#64;gmail.com</span></li>
              <li><i class="fa fa-chevron-circle-right"></i> <strong>Lieu:</strong> <span>Pau, France</span></li>
              <li><i class="fa fa-chevron-circle-right"></i> <strong>Diplôme:</strong> <span>Master Technologies de l'Internet, UPPA</span></li>
              <li><i class="fa fa-chevron-circle-right"></i> <strong>Freelancing:</strong> <span>Disponible</span></li>
            </ul>
          </div>
        </div>
        <p>
          Développeur freelance, je peux vous aider à concrétiser vos projets avec simplicité et efficacité. N'hésitez pas à me contacter !
        </p>
      </div>
    </div>

  </div>
</section>
