<header id="header">
  <div class="container">

    <h1>Thibault Campagne</h1>
    <h2>Je suis <span>Développeur Full Stack</span> depuis 2018.</h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home" class="nav-link active">Home</a></li>
        <li><a routerLink="/about" class="nav-link">À propos de moi</a></li>
        <li><a routerLink="/skills" class="nav-link">Mes compétences</a></li>
        <li><a routerLink="/resume" class="nav-link">Mon CV</a></li>
        <li><a routerLink="/services" class="nav-link">Services</a></li>
      </ul>
    </nav>

    <div class="social-links">
      <a href="https://github.com/tcampagne" class="github" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://fr.linkedin.com/in/thibault-campagne-3856b4132" class="linkedin" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/thibault.campagne.5" class="facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
    </div>

  </div>
</header>
