<header id="header">
  <div class="container">

    <h1>Thibault Campagne</h1>
    <h2>Je suis <span>Développeur Full Stack</span> depuis 2018.</h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home" class="nav-link active">Home</a></li>
        <li><a routerLink="/about" class="nav-link">About</a></li>
        <li><a routerLink="/skills" class="nav-link">Mes compétences</a></li>
        <li><a routerLink="/resume" class="nav-link">Mon CV</a></li>
      </ul>
    </nav>

    <div class="social-links">
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </div>

  </div>
</header>
