<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="https://media.licdn.com/dms/image/D4D03AQF07GZr7VqtBQ/profile-displayphoto-shrink_800_800/0/1701356629939?e=1720656000&v=beta&t=FfDFQ6ykrkx2IxONHvK_D4lV1vV1D96rRsY_N0SerQ8" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light">Thibault Campagne</h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/tcampagne" class="github" target="_blank"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
        <a href="https://fr.linkedin.com/in/thibault-campagne-3856b4132" class="linkedin" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://www.facebook.com/thibault.campagne.5" class="facebook" target="_blank"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" class="nav-link scrollto"><fa-icon [icon]="faHome"></fa-icon> <span>Accueil</span></a>
        </li>
        <li><a routerLink="/about" routerLinkActive="active" class="nav-link scrollto"><fa-icon [icon]="faIdBadge"></fa-icon> <span>À propos de moi</span></a>
        </li>
        <li><a routerLink="/skills" routerLinkActive="active" class="nav-link scrollto"><fa-icon [icon]="faBrain"></fa-icon> <span>Mes compétences</span></a>
        </li>
        <li><a routerLink="/resume" routerLinkActive="active" class="nav-link scrollto"><fa-icon [icon]="faIdCard"></fa-icon> <span>Mon CV</span></a>
        </li>
        <li><a routerLink="/services" routerLinkActive="active" class="nav-link scrollto"><fa-icon [icon]="faLightbulb"></fa-icon> <span>Services</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
