<div class="passport">
  <iframe #myIframe id="myIframe" src="https://passeport.dev/en/p/ad0c3409-8ab8-4cc9-9b02-9189fb3e564f" height="1000"></iframe>
</div>
<div class="skills-content-mobile">
  <section id="skills" class="skills">
    <div class="my-skills container">

      <div class="section-title">
        <h2>Mes compétences</h2>
      </div>

      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Langages de développement et outils</h3>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item"><fa-icon [icon]="faJava"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faAngular"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faHtml5"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faCss3Alt"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faJsSquare"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faReact"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faNodeJs"></fa-icon></li>
            <li class="list-inline-item"><fa-icon [icon]="faNpm"></fa-icon></li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="openPassport()"><i class="fa fa-binoculars"></i> Consulter mes compétences sur passport.dev</button>
      </div>
    </div>
  </section>
</div>
