<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Mon CV</h2>
      <p>Explorez mon CV</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Formation</h3>
        <div class="resume-item">
          <h4>Master Technologies de l'Internet</h4>
          <h5>2016 - 2018</h5>
          <p><em>Université de Pau et des Pays de l'Adour</em></p>
        </div>
        <div class="resume-item">
          <h4>Licence Informatique</h4>
          <h5>2015 - 2016</h5>
          <p><em>Université de Pau et des Pays de l'Adour</em></p>
        </div>
        <div class="resume-item">
          <h4>BTS Services Informatiques aux Organisations, option Solutions Logicielles et Applications Métiers</h4>
          <h5>2013 - 2015</h5>
          <p><em>Lycée St John Perse, Pau</em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Expérience Professionnelle</h3>
        <div class="resume-item">
          <h4>PURSE, FREELANCE</h4>
          <h5>Depuis Juin 2023</h5>
          <p><em><b>Développeur</b>, Remote</em></p>
          <p>
          <ul>
            <li>Développement de plugins de paiement</li>
            <li>Java17, Spring Boot, Maven, Github, MongoDB</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>FOURNISSEUR DE LOGICIELS MRO POUR l’AVIATION - FREELANCE</h4>
          <h5>Mars 2022 - Mai 2023</h5>
          <p><em><b>Développeur</b>, Remote</em></p>
          <p>
          <ul>
            <li>TMA sur un logiciel de gestion de maintenance et logistique</li>
            <li>Java11, Angular, Maven, Gitlab…</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>OPENCLASSROOMS - FREELANCE</h4>
          <h5>Depuis Novembre 2021</h5>
          <p><em><b>Développeur mentor</b>, Remote</em></p>
          <p>
          <ul>
            <li>Mentorat d’étudiants en reconversion sur le parcours « Développeur Web »</li>
            <li>Node.js, Express, React</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>COMPAGNIE DES ALPES</h4>
          <h5>Juillet 2020 – Mars 2022</h5>
          <p><em><b>Développeur</b>, Chambéry, France</em></p>
          <p>
          <ul>
            <li>Développement de microservices</li>
            <li>Java11, Angular, Spring Boot, Spring Batch, Docker, Azure DevOps, AWS …</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>RATP SMART SYSTEMS</h4>
          <h5>Août 2018 - Mars 2020</h5>
          <p><em><b>Ingénieur de développement</b>, Merignac, France</em></p>
          <p>
          <ul>
            <li>Développement d’applications web pour les clients internationaux</li>
            <li>Java8, Angular, Spring, Spring Batch, PostgreSQL …</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>SMILE OPEN SOURCE SOLUTIONS</h4>
          <h5>Janvier 2018 - Juillet 2018</h5>
          <p><em><b>Stagiaire de production</b>, Bordeaux, France</em></p>
          <p>
          <ul>
            <li>Tierce Maintenance Applicative sur des sites e-commerce</li>
            <li>PHP, MySQL</li>
            <li>Gestion de projet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" (click)="downloadResume()"><i class="fa fa-download"></i> Télécharger</button>
    </div>
  </div>
</section>
